<%= @game.player_1.name %> vs. <%= @game.player_2.name %>

<%= @game.player_2.name %>: <%= @game.player_2.hit_points %>HP

<form action="/attack">
      <input type="submit" value=Attack>
      <a href="/attack">Attack</a>
</form>
<!-- # href link only here as its in walkthough.
# not presently used in tests though. -->
